  /* stile header*/ 
  header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    color: white;
    min-height: 50vh;
    padding: 0px;
  }

  .header a.logo {
  font-size: 20px;
  font-weight: bold;
}
.header a:hover {
  background-color: white;
  color: #123;
}


  .main-heading {
    max-width: 800px;
    text-align: center;
    margin: auto;
  }

  .header {
    overflow: hidden;
    background-color: #0b1622;
    padding: 10px 20px;
  }



  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    border-radius: 3px;
  }

  .header-right {
    float: right;
    display: flex;
    align-items: center;
  }
  /* fine stile header*/


  /* Stile per il contenitore della barra di ricerca */
  .search-container {
    position: relative;
    display: inline-block;
  }

  /* Stile per l'icona della lente d'ingrandimento */
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Distanza dal bordo destro */
    transform: translateY(-50%);
    color: #666; /* Colore dell'icona */
    cursor: pointer;
  }

  /* Stile per la casella di ricerca */
  .search-input {
    padding-right: 30px; /* Spazio per l'icona */
  }


  .clickable-button {
    cursor: pointer; /* Imposta il cursore a forma di mano per indicare che il pulsante è cliccabile */
    padding: 20px 30px; /* Aggiungi spazio intorno al testo del pulsante per una migliore esperienza utente */
    border-radius: 5px;
    background-color: white; /* Imposta il colore di sfondo del pulsante */
    border: none; /* Rimuovi il bordo del pulsante */
    color: #99ccff; /* Imposta il colore del testo del pulsante */
    text-align: center; /* Centra il testo all'interno del pulsante */
    text-decoration: none; /* Rimuovi eventuali sottolineature del testo del pulsante */
    display: block; /* Assicura che il pulsante si adatti al testo all'interno di esso */
    margin-right: 30px
  }



  .search-container {
    text-align: center; /* Centra il contenuto della barra di ricerca */
    margin-top: 20px
    padding: 50px 20px 20px 20px; /* Aggiunge spazio sopra la barra di ricerca */
  }


  .carousel-inner {
    text-align: center; /* Centra il contenuto della barra di ricerca */
    margin-left: 200px
    padding: 100px 700px 70px 100px; /* Aggiunge spazio sopra la barra di ricerca */
    width: 400px;
    height: 350px
  }



  /* qui si inseriscono codici per mettere una search bar*/
  input[type="text"] {
    padding: 8px; /* Aggiunge spazio intorno al campo di input */
    border-radius: 5px; /* Aggiunge angoli arrotondati al campo di input */
    border: 1px solid #ccc; /* Aggiunge un bordo grigio chiaro al campo di input */
  }

  button[type="submit"] {
    padding: 8px 0px; /* Aggiunge spazio intorno al pulsante */
    border: none; /* Rimuove il bordo del pulsante */
    border-radius: 5px; /* Aggiunge angoli arrotondati al pulsante */
    background-color: #4CAF50; /* Imposta il colore di sfondo del pulsante */
    color: white; /* Imposta il colore del testo del pulsante */
    cursor: pointer; /* Imposta il cursore a forma di mano quando il mouse passa sopra il pulsante */
  }
  /*fine della search bar*/




  /*altro tentativo carousel*/
  .slider-container
  {
    width: 800px;
    height: 400px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  .image-container
  {
    width: 2400px;
    background-color: lightgray;
    height: 400px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

  #slider-Ginna:target ~ .image-container
  {
   left: 0px;
 }
 #slider-Conti:target ~ .image-container
 {
   left: -800px;
 }
 #slider-Manifesti:target ~ .image-container
 {
   left: -1600px;
 }

 .button-container
 {
   position: relative;
   top: -20px;
 }
 .slider-change
 {
   display: inline-block;
   height: 10px;
   width: 10px;
   border-radius: 5px;
   background-color: gray;
 }


 .carousel-captionl-inner > .item > img,
 .carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
  margin: auto;
}

.carousel-item img {
  margin: auto; /* Imposta il margine automaticamente per centrare l'immagine */
  display: block; /* Imposta l'immagine come blocco per permettere il margine automatico */
}

/* fine secondo tentativo carousel*/


/* inizio lavoro su immagini per body */

  .titolo {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 40px;
    background-color: #123;
    color: white;
  }

  .colonne {
    display: flex;
    justify-content:left;
    width: 90%;
  }

  .colonna {
    width: 50%; /* lascia il 2% di spazio tra le colonne */
  }

.text {
  color: #123;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  
}
/* card con overlay per Futuristi italiani*/

  /*fine prima immagine*/

  h4 {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  line-height: 1;
}

.button {
  padding: 10px;
}


/* inizio immagine 2*/

.image2 {

  display: block;
  width: 50%;
  height: auto;
}

/* fine immagine 2*/

/*inizio footer*/

  footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    color: white;
    padding: 40px 0;
  }

  .logo-section img {
    width: 100px;
    margin-right: 20px;
  }

  .contact-section {
    text-align: right;
  }

  .contact-section h3 {
    margin-bottom: 10px;
  }

  .contact-section p {
    margin: 5px 0;
  }

  .copyright p {
    align-content: center;
    margin-right: 350px;
    text-align: center;

  }

.image3 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 95%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container-overlay:hover .overlay {
  opacity: 1;
}

.overlay2 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 48%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container-overlay:hover .overlay2 {
  opacity: 1;
}
